
p{
	padding: 5px;
    padding-right: 5px;
}


address{
	padding: 15px;

}
body{
	

}
table{
	padding=10px;
}
h1{
	padding-top: 10px;
 padding-bottom: 50px;
}
.bg1{
	background-color: #1abc9c; 
	color: #ffffff;
}
.bg2{
	
	color: black;
}